1. Создание таблицы customers
Создать таблицу с основной информацией о сотрудниках: ФИО, дата рождения, дата начала работы, должность, уровень сотрудника (jun, middle, senior, lead), уровень зарплаты, идентификатор отдела, наличие/отсутствие прав(True/False). При этом в таблице обязательно должен быть уникальный номер для каждого сотрудника.

In [ ]:
CREATE TABLE customers
(
	Id SERIAL PRIMARY KEY,
	FIO CHARACTER VARYING(30),
	DateOfBirth DATE,
	DateStartWork DATE,
	JobTitle CHARACTER VARYING(30),
	Grade CHARACTER VARYING(30),
	Salary INTEGER,
	IdDepartment CHARACTER VARYING(30),
	DriverLicenseAvailability BOOLEAN  
);

2. Создание таблицы Departments с информацией по отделам 
Для будущих отчетов аналитики попросили вас создать еще одну таблицу с информацией по отделам – в таблице должен быть идентификатор для каждого отдела, название отдела (например. Бухгалтерский или IT отдел), ФИО руководителя и количество сотрудников.

In [ ]:
CREATE TABLE departments
(
	Id SERIAL PRIMARY KEY,
	DepartmentName CHARACTER VARYING(30),
	FioCeo CHARACTER VARYING(30),
	CustomersAmount INTEGER
);

3. На кону конец года и необходимо выплачивать сотрудникам премию. Премия будет выплачиваться по совокупным оценкам, которые сотрудники получают в каждом квартале года. Создайте таблицу, в которой для каждого сотрудника будут его оценки за каждый квартал. Диапазон оценок от A – самая высокая, до E – самая низкая.

In [ ]:
CREATE TABLE QuarterGrades
(
	Id SERIAL PRIMARY KEY,
	FIO CHARACTER VARYING(30),
	QuarterNumber INTEGER,
	GRADE CHARACTER(1)
);

4. Наполнение таблицы данными 
Несколько уточнений по предыдущим заданиям – в первой таблице должны быть записи как минимум о 5 сотрудниках, которые работают как минимум в 2-х разных отделах. Содержимое соответствующих атрибутов остается на совесть вашей фантазии, но, желательно соблюдать осмысленность и правильно выбирать типы данных (для зарплаты – числовой тип, для ФИО – строковый и т.д.)

In [ ]:
INSERT INTO customers (FIO,DateOfBirth,DateStartWork,JobTitle,Grade,Salary,IdDepartment,DriverLicenseAvailability) 
VALUES 
('Petrov Ivan Ivanovich','1985-05-02','2020-02-01','Data Engeneer','Senior',1500,1,True),
('Ivanov Petr Ivanovich','1980-07-01','2021-05-01','Programmer','Middle',1000,2,True),
('Sidorov Fedor Nikolaevich','1990-02-10','2022-01-15','Data Engeneer','Junior',700,1,False),
('Parker Sara Jessika ','1988-11-14','2020-08-01','QA Engeneer','Teamlead',2000,1,True),
('Stalone Silvestr Andreevich','1975-01-20','2021-08-01','CEO','Senior',1500,2,True);

INSERT INTO departments (departmentname,fioceo,customersamount)
VALUES 
('It','Parker Sara Jessika ',3),
('BigData','Stalone Silvestr Andreevich',2);

INSERT INTO quartergrades (fio,quarternumber,grade)
VALUES 
('Petrov Ivan Ivanovich',1,'A'),
('Petrov Ivan Ivanovich',2,'B'),
('Petrov Ivan Ivanovich',3,'C'),
('Petrov Ivan Ivanovich',4,'D'),
('Ivanov Petr Ivanovich',1,'A'),
('Ivanov Petr Ivanovich',2,'D'),
('Ivanov Petr Ivanovich',3,'E'),
('Ivanov Petr Ivanovich',4,'A'),
('Sidorov Fedor Nikolaevich',1,'D'),
('Sidorov Fedor Nikolaevich',2,'A'),
('Sidorov Fedor Nikolaevich',3,'E'),
('Sidorov Fedor Nikolaevich',4,'A'),
('Parker Sara Jessika ',1,'A'),
('Parker Sara Jessika ',2,'B'),
('Parker Sara Jessika ',3,'C'),
('Parker Sara Jessika ',4,'D'),
('Stalone Silvestr Andreevich',1,'A'),
('Stalone Silvestr Andreevich',2,'C'),
('Stalone Silvestr Andreevich',3,'A'),
('Stalone Silvestr Andreevich',4,'B')

5. Добавление новых данных в таблицы.
Ваша команда расширяется и руководство запланировало открыть новый отдел – отдел Интеллектуального анализа данных. На начальном этапе в команду наняли одного руководителя отдела и двух сотрудников. Добавьте необходимую информацию в соответствующие таблицы.

In [ ]:
INSERT INTO customers (FIO,DateOfBirth,DateStartWork,JobTitle,Grade,Salary,IdDepartment,DriverLicenseAvailability)
VALUES 
('Twain Mark Ivanovich','1980-04-10','2022-12-29','Data Engeneer','Senior',1500,3,True),
('Galustyan Mikhail Gamletovich','1982-07-01','2022-12-29','Programmer','Middle',1000,3,True),
('Svetlakov Sergey Andreevich','1981-01-20','2022-12-29','CEO','Senior',2000,3,False);

INSERT INTO departments (departmentname,fioceo,customersamount)
VALUES 
('data mining','Svetlakov Sergey Andreevich',3);

6. Теперь пришла пора анализировать наши данные – напишите запросы для получения следующей информации:

6.1 Уникальный номер сотрудника, его ФИО и стаж работы – для всех сотрудников компании

In [ ]:
SELECT id,fio,AGE(current_date,datestartwork) AS work_experience FROM customers

6.2 Уникальный номер сотрудника, его ФИО и стаж работы – только первых 3-х сотрудников

In [ ]:
SELECT id,fio,AGE(current_date,datestartwork) AS work_experience FROM customers LIMIT 3

6.3 Уникальный номер сотрудников - водителей

In [ ]:
SELECT id FROM customers WHERE driverlicenseavailability = True

6.4 Выведите номера сотрудников, которые хотя бы за 1 квартал получили оценку D или E

In [ ]:
SELECT customers.id FROM customers INNER JOIN quartergrades ON customers.fio = quartergrades.fio AND (quartergrades.grade='D' OR quartergrades.grade='E') GROUP BY customers.id

6.5 Выведите самую высокую зарплату в компании. В моем случае такая зарплата 2х работников, поэтому вывожу 2 строки

In [ ]:
SELECT fio,salary FROM customers ORDER BY salary DESC LIMIT 2

6.6 * Выведите название самого крупного отдела

In [ ]:
SELECT departmentname FROM departments ORDER BY customersamount DESC LIMIT 1

6.7 * Выведите номера сотрудников от самых опытных до вновь прибывших

In [ ]:
SELECT id FROM customers ORDER BY datestartwork

6.8 * Рассчитайте среднюю зарплату для каждого уровня сотрудников

In [ ]:
SELECT AVG(salary) AS Average_Salary_Junior FROM customers WHERE grade = 'Junior'

In [ ]:
SELECT AVG(salary) AS Average_Salary_Senior FROM customers WHERE grade = 'Senior'

In [ ]:
SELECT AVG(salary) AS Average_Salary_Teamlead FROM customers WHERE grade = 'Teamlead'

In [ ]:
SELECT AVG(salary) AS Average_Salary_Middle FROM customers WHERE grade = 'Middle'