1. Вывести фамилию сотрудника с самой высокой зарплатой

In [ ]:
SELECT fio 
FROM customers 
WHERE salary=(SELECT MAX(SALARY) FROM CUSTOMERS)

2. Вывести фамилии сотрудников в алфавитном порядке

In [ ]:
SELECT split_part(fio, ' ', 1) FROM customers ORDER BY fio

3. Рассчитайте средний стаж для каждого уровня сотрудников

In [ ]:
SELECT grade, SUM(AGE(current_date,datestartwork))/COUNT(fio) 
FROM customers 
GROUP BY grade

4. Выведите фамилию сотрудника и название отдела, в котором он работает
Так как есть явное несоответствие типов данных - преобразуем их.

In [ ]:
ALTER TABLE customers 
ALTER COLUMN iddepartment TYPE INTEGER 
USING iddepartment::integer

In [ ]:
SELECT customers.fio,departments.departmentname 
FROM customers INNER JOIN departments 
ON customers.iddepartment = departments.id 
ORDER BY customers.fio

5. Выведите название отдела и фамилию сотрудника с самой высокой зарплатой в данном отделе и саму зарплату также

In [ ]:
SELECT departments.departmentname,customers.fio,customers.salary 
FROM customers INNER JOIN departments 
ON customers.iddepartment = departments.id 
WHERE customers.salary=(SELECT MAX(salary) FROM customers)